:root{
    --color-1: #152d4a;
    --opacity-100-color-1: #3A0F83;
    --opacity-70-color-1: #152d4aB2;
    --opacity-50-color-1: #152d4a80;
    --opacity-30-color-1: #152d4a4D;
    --opacity-10-color-1: #152d4a1A;
    
    --color-2: #f9da1a;
    --opacity-100-color-2: #B529A6;
    --opacity-70-color-2: #f9da1aB2;
    --opacity-50-color-2: #f9da1a80;
    --opacity-30-color-2: #f9da1a4D;
    --opacity-10-color-2: #f9da1a1A;
    
    --color-3: #171e33;
    --opacity-100-color-3: #03B0CA;
    --opacity-70-color-3: #171e33B2;
    --opacity-50-color-3: #171e3380;
    --opacity-30-color-3: #171e334D;
    --opacity-10-color-3: #171e331A;
    
    --color-4: #4D5723;
    --opacity-100-color-4: #404918;
    --opacity-70-color-4: #4D5723B2;
    --opacity-50-color-4: #4D572380;
    --opacity-30-color-4: #4D57234D;
    --opacity-10-color-4: #4D57231A;
    
    --color-5: #D7C2D0;
    --opacity-100-color-5: #C1A9BA;
    --opacity-70-color-5: #D7C2D0B2;
    --opacity-50-color-5: #D7C2D080;
    --opacity-30-color-5: #D7C2D04D;
    --opacity-10-color-5: #D7C2D01A;
}