:root{
    --color-1: #481A95;
    --opacity-100-color-1: #3A0F83;
    --opacity-70-color-1: #481A95B2;
    --opacity-50-color-1: #481A9580;
    --opacity-30-color-1: #481A954D;
    --opacity-10-color-1: #481A951A;
    
    --color-2: #C539B5;
    --opacity-100-color-2: #B529A6;
    --opacity-70-color-2: #C539B5B2;
    --opacity-50-color-2: #C539B580;
    --opacity-30-color-2: #C539B54D;
    --opacity-10-color-2: #C539B51A;
    
    --color-3: #01D0EF;
    --opacity-100-color-3: #03B0CA;
    --opacity-70-color-3: #01D0EFB2;
    --opacity-50-color-3: #01D0EF80;
    --opacity-30-color-3: #01D0EF4D;
    --opacity-10-color-3: #01D0EF1A;
    
    --color-4: #4D5723;
    --opacity-100-color-4: #404918;
    --opacity-70-color-4: #4D5723B2;
    --opacity-50-color-4: #4D572380;
    --opacity-30-color-4: #4D57234D;
    --opacity-10-color-4: #4D57231A;
    
    --color-5: #D7C2D0;
    --opacity-100-color-5: #C1A9BA;
    --opacity-70-color-5: #D7C2D0B2;
    --opacity-50-color-5: #D7C2D080;
    --opacity-30-color-5: #D7C2D04D;
    --opacity-10-color-5: #D7C2D01A;
}