.container{
    position: absolute;
    top: 80px;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    gap: 10px;
    width: 100vw;
    height: calc(100vh - 80px);
}

.container_title{}

.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 40px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 30px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    gap: 10px;
}

.header_title{
    flex: 1;
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.toolbar_left{
    display: flex;
    gap: 2%;
}

.detail_vessel{
    display: flex;
    gap: 10%;
    width: 100%;
}
.detail_vessel_left{
    width: 40%;
}


.pdf_container{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.config_pdf_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.config_pdf{
    display: flex;
    gap: 8px;
    align-items: center;
}


.contenu_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenu_wrapper{
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.contenu_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #d1d1d1;
    border-radius: 10px;
}

.contenu_right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenu_detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.contenu_title{
    font-size: 24px;
    font-weight: 700;
}

.contenu_detail_label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenu_download_btn{
    height: 60px;
}