.container{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-dark-pri);
    z-index: 20;
    transition: all 0.7s;
}   


.wrapper{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-1);
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    flex-direction: row;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    align-items: center;
    gap: 50px;
    transition: all 0.7s;
}


.menu_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: all 0.7s;
}


.nav_icon{
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.7s;
}

.nav_logo{
    width: 150px;
}

.nav_title{
    font-size: 32px;
    position: relative;
    font-weight: 600;
    transition: all 0.7s;   
    display: flex;
    align-items: center;
}

.button_menu {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
}

.button{
    display: flex;
    flex-direction: row;
    padding: 14px 30px;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.7s;
}

.nav_link_active{
    position: relative;
    display: flex;
    background-color: var(--color-2);
    border-radius: 100px;
    gap: 10px;
    text-decoration: none;
    color: var(--text-dark-pri);
    line-height: 19.6px;
    padding: 10px 16px;
    cursor: pointer;
    transition: all 0.7s;
}

.nav_link{
    position: relative;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--text-dark-pri);
    line-height: 19.6px;
    padding: 16px 10px;
    cursor: pointer;
    transition: all 0.7s;
}

.nav_link_inverse{
    position: relative;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #000;
    background-color: white;
    border-radius: 10px;
    line-height: 19.6px;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.7s;
}


.button_nav_overalay{
    position: relative;
    display: inline-block;
    transition: all 0.7s;
}


.nav_icon_responsive{
    display: none;
    transition: all 0.7s;
}

/* responsive */

@media (max-width:769px) {
    .nav_icon_responsive{
        display: block;
    }

    .button_menu,
    .nav_link,
    .button_nav_overalay{
        display: none;
    }

    .search_bar{
        width: 100%;
    }
}

@media (max-width:426px) {
    .nav_icon_responsive{
        display: block;
    }
    .search_bar{
        opacity: 0;
    }
    .search_input{
        display: none;
    }
}